.header-container {
    background-color: #76c9fe;
    background-image: linear-gradient(to right, #76c9fe, #6d94d4);
    padding: 5px 15px;
    /* border-radius: 5px; */

    display: flex;

    margin-bottom: 15px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

body {
    height: 100Vh;
    background: rgb(138,226,53);
    background: linear-gradient(135deg, rgba(138,226,53,1) 0%, rgba(141,53,226,1) 100%);ba(141,53,226,1) 100%);
    background-attachment: fixed;

    margin: 0px;

}

.title {

    display: flex;
    align-items: center;

    margin: 0px 20px 0px 10px;
    padding: 0px;
    font-family: worm writing, sans-serif;
    font-size: 20pt;
    // font-weight: bold;
    text-align: left;
    color: black;
    text-decoration: none;
}

.content {
    background-color: #CCD0DDCC;
    padding: 5px 15px;
    border-radius: 5px;

    width: 75%;
    margin: 60px auto;
    /*margin-bottom: 60px;*/

    min-height: 75%;
}

p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a {
    color: grey;
    text-decoration: underline;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.button {
   display: flex;
   align-items: center;
   background-color: rgba(160, 160, 160, .5);
   padding: 5px 10px;
   border-radius: 20px;
   margin: 0px 10px;

   background-color: rgba(160, 160, 160, .5);
}

.button:hover {
  background-color: rgba(160, 160, 160, .9);
}

.button-text {
  margin: 0px;
  opacity: 100%;

  font-family: worm writing, sans-serif;
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.button-link {
   display: flex;
   align-items: center;
   text-decoration: none;
}

.project-title {
   font-family: worm writing, sans-serif;
   font-weight: bold;
   font-size: 20px;
}

span.emph {
    font-style: italic
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
    background-color: #6d94d4;
    background-image: linear-gradient(to right, #6d94d4, #76c9fe);

    text-align: center;
    padding: 2px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.no_decoration {
    text-decoration: none;
}

.badge_link {
    /*display: inline;*/
    text-decoration: none;
    margin: 2px
}

.badge_link a {
    display: block;
    line-height: 0px;
}
