{% extends 'base.html' %}

{% block content %}
<p>uh</p>
<p>hi</p>
<br>
<p>i'm zach or plasma</p>
<p>i like rabbits.</p>
<br>
<p>i like a lot of things other than rabbits too</p>
<p>big fan of programming</p>
<p>and not capitalizing words</p>
<p>and uh</p>
<p>literally anything that captures my attention for a given week</p>
<br>
<p>here's a link to some friends' websites</p>
<p><a href="https://ceionia.com/">ceionia.com</a></p>
<p><a href="https://www.mico.moe/">mico.moe</a></p>
<p><a href="https://home.dory.moe/">dory.moe</a></p>
{% endblock %}