{% extends 'base.html' %}

{% block content %}

<p>hi</p>
<p>i'm plasma, or zachary, depending on where you know me from.</p>
<p>this is my <span class="emph">very</span> work in progress website</p>
<p><a target="_blank" rel="noopener noreferrer" href="https://github.com/plasmaofthedawn">here</a>
    is my github containing a bunch of random projects</p>
<p>i have a curated list of some of my bigger projects <a href="projects">here</a>.</p>

<p>if you're a recruiter,
    <a href="https://www.linkedin.com/in/zachary-weaver-41873522b/" target="_blank" rel="noopener noreferrer">here</a>
    is my linkedin</p>

<p>if you want to contact me the best formal way is to email me at plasmaofthedawn@gmail.com and the best casual way is to send me a message at plasmaofthedawn on discord.</p>

<p>i don't have many socials but i'll link the few i have below.</p>
<p>
    <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/EZuccerberg">twitter</a>
    <a target="_blank" rel="noopener noreferrer" href="https://steamcommunity.com/id/thatgermannewspaper/">steam</a>
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/plasmaofthedawn">github (again)</a>
</p>

{% endblock %}