{% extends 'base.html' %}

{% block content %}
<p>um yeah</p>
<p>projects</p>

<hr>

<p>
    <span class="project-title">amadeus</span> is a general purpose discord bot who i may or may not call my wife.
</p>
<p>
    she was one of the first large-scale projects i've ever done, and has a
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/plasmaofthedawn/amadeus">total</a>
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/plasmaofthedawn/amadeus2">of</a>
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/plasmaofthedawn/amadeus3">three</a>
    different repositories, of which the latest is
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/plasmaofthedawn/amadeus3">this one</a>.
</p>
<p> she does funny stuff like be a general nuisance and polling random apis, but i plan on continuing developing more features into her.</p>

<hr>

<p>
    my personal <span class="project-title">server</span> is a server i put together from an old desktop computer and salvaged and new hard drives.
</p>

<p>together they form a server that hosts this website, amadeus, and any other thing i need to be online 24/7.</p>
<p>it runs on arch linux and is gpu capable for sweet sweet neural network training (and anything else i need it for)</p>

<hr>

<p>
<p>
    <span class="project-title">t3c</span> is a website i made to read comments from an old now-deleted youtube video.
</p>

<p>these comments contain like life stories and 'checkpoints' that people put up there, and it's fun to read through them.</p>
<p>it fetched comments from the google api while the video was still up, but now it runs off an archived one someone else saved.</p>
<p>
    the source code can be found
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/plasmaofthedawn/t3c">here</a>,
    and the live website can be found
    <a target="_blank" rel="noopener noreferrer" href="https://t3c.plasmaofthedawn.com">here</a>.
</p>

<hr>

<p>
    <span class="project-title">ticifier</span> is a windows program to add verbal tics automatically as you type, kuma.
</p>
<p>it's a silly project that came out of an older auto hotkey script that came out of an even older python script</p>
<p>it has a icon in the system tray with a menu, and gets packaged neatly into an exe so it looks official. </p>
<p>
    you can find the source code
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/plasmaofthedawn/ticifier">here</a>,
    and the latest release
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/plasmaofthedawn/ticifier/releases/tag/2.1.1">here</a>
</p>

<hr>

<p>here are a some other projects i've done that i thought were neat</p>
<p>
    <span class="project-title">the luka never ends</span>
    is another discord bot i wrote that would play a song on loop in a voice channel, and keep track of who else joined and for how long.
    you can find the source for it
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/plasmaofthedawn/the_luka_never_ends">here</a>
</p>
<p>
    <span class="project-title">tf2 rpc</span>
    is a discord rich presence for team fortress two.
    it was half-made to learn rust, as this was the first project i wrote using it.
    you can find the source for it
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/plasmaofthedawn/tf2_rpc">here</a>
</p>
<p>
    <span class="project-title">entity starer</span>
    is an old (1.17.1) minecraft mod i made that would allow you to stare at entities, and it would automatically track them until they despawned.
    you can find the source for it
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/plasmaofthedawn/EntityStarer">here</a>
</p>
<p>
    <span class="project-title">gulagguard</span>
    is an old discord bot i made for help with moderating a discord server of a youtuber.
    it utilized a mysql database, with an option for postgresql, which was way overkill.
    you can find the source for it
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/plasmaofthedawn/gulagmanager">here</a>
</p>
<p>
    <span class="project-title">lagrange</span>
    is a python program i wrote to visualize
    <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Lagrange_polynomial">lagrange polynomials</a>.
    it came across these polynomials one day and thought they were so cool i needed to visualize how they worked.
    you can find it
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/plasmaofthedawn/lagrange">here</a>
</p>
<p>
    <span class="project-title">password protect tenshi</span>
    is a old (1.16.1) spigot plugin i wrote with 2 other friends to help protect a minecraft server.
    it was one of the first cooperative projects i worked on, and it was a lot of fun.
    you can find her source
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/plasmaofthedawn/PasswordProtectTenshi">here</a>
</p>

{% endblock %}
